{% extends "base.html" %}
{% block main%}
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "main" %}">Континент красоты</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">Как купить</a>
                    </li>
                    <li>
                        <a href="{% url "contacts" %}">Контакты</a>
                    </li>
                    <li>
                        <a href="contact.html">Специальные предложения</a>
                    </li>
                     <li>
                        <a href="contact.html">Каталог</a>
                    </li>
                    <li>
                        <a href="{% url "faq" %}">FAQ</a>
                    </li>
                    <li><a href="index.html">Корзина</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--Categories navigation-->
    <nav class="navbar-cats navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for top in tops %}
                            <li class="dropdown">
                            <a href="{{top.get_url}}" class="dropdown-toggle">{{top.name}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                    {% for middle in top.get_children %}
                                        <li>
                                            <a href="{{middle.get_url}}">{{middle.name}}</a>
                                        </li>
                                    {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block title %}{% endblock %}
                    <small>{% block page_subheader %}{% endblock %}</small>
                </h1>
                <ol class="breadcrumb">
                    {% for bc in breadcrumbs %}
                        {% if forloop.last %}
                            {% for k,v  in bc.items %}
                                <li class="active">{{v}}</li>
                            {% endfor %}
                        {% else %}
                            {% for k,v  in bc.items %}
                                <li><a href="{{k}}">{{v}}</a></li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
        <!-- /.row -->
        {% block content %}
        {% endblock %}
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}