.navbar-cats {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.honeypot
{
    display: none;
}