{% for object in object_list %}
<div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{object.image.url}}" alt="{{object.image.description}}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                        <h4 class="pull-right">{{object.get_price}}</h4>
                        <h4><a href="{% url "goods_detail" pk=object.pk %}">{{object.name}}</a>
                        </h4>
                        <p>{{object.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="ratings">
                    <p class="pull-right">
                        <!--{% if not object.in_stock %}
                            НЕТ В НАЛИЧИИ
                        {% endif %}-->
                        {{object.comments_count}} отзывов
                    </p>
                    <p>
                        {% include "generic/rating.html" %}
                    </p>
                </div>
            </div>
        </div>
</div>
{% endfor %}
